*.pyc
*.bak
*.dat
*.dir
*.png
*.err
*.out
*.ipynb
*_cases.py
outputs/
geps.egg-info/
baselines/
exp_gen/
figures/
bash/baselines/
config/cavia
config/foca
config/leads
config/aphynity
exp_gen/
notebooks/
slurm_run/